<h1>Todo</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid data</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid target date</div>
    <form action="" (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="description" class="marginal">Description</label>
            <input type="text" [(ngModel)]="todo.description" class="form-control" name="description"
                required="required" minlength="5">
        </fieldset>
        <fieldset class="form-group">
            <label for="date" class="marginal">Target Date</label>
            <input type="date" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="date" required="required">
        </fieldset>

        <button type="submit" class="btn btn-success marginal">Save</button>
    </form>
</div>